<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1>Products</h1>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm">
        <p id="title"><%= product.name %></p>
        <%= image_tag(product.url, class: "img-fluid") %>
        <p id="text"><%= product.description %></p>
        <%= audio_tag(product.audio, controls: true) %>
        <hr>
        <strong>&dollar;&nbsp; <%= product.price %></strong>
      </div><!-- end column -->
    <% end %>
  </div><!-- end row -->
</div><!-- end container -->