<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 column-left">
      <%= image_tag(@product.thumbnail, class: "img-fluid") %>
      <%= audio_tag(@product.audio, class: "w-100", controls: true) %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </div>

    <div class="col-sm-12 col-lg-6">
      <p class="product-title"><%= @product.name %></h2>
      <p class="product-description"><%= @product.description %></p>
      <p class="product-price"><%= number_to_currency(@product.price, :unit => "€") %></p>
      <% if @product.comments.length > 0 %>
      <%= @product.highest_rating_comment.body %>
      <% end %>
      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
      <%= render 'new_comment' %>
      <%= render 'comments' %>
      <%= will_paginate @comments %>
     </div>
  </div><!-- end row -->
</div><!-- end container -->
